body {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  /*color: #4D4D4D;*/
      overflow-x: hidden;
}

ul {
  list-style: none;
}


.animate {
	transition: all 0.5s ease;
opacity: 0;
}
.zap {
	opacity: 1;
}

.animate2 {
	transition: all 0.5s ease;
opacity: 0;
left: 1000px;
position: relative;
}
.zap2 {
	opacity: 1;
  left: 0;
}

.animate3 {
	transition: all 0.5s ease;
opacity: 0;
right: 1000px;
position: relative;
}
.zap3 {
	opacity: 1;
  right: 0;
}


/*~~~~~~~~~~~~~~~~~~ jumbotron ~~~~~~~~~~~~~~~*/

.jumbotron {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  /*color: #fff;*/
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron h1 {
  font-size: 10rem;
  text-transform: capitalize;
  color: #990000;
  margin-left: 70%;
}

/*~~~~~~~~~~~~~~~~~~ github ;~~~~~~~~~~~~~~~~~*/

.github {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin: 30px 0;
}

.ligne {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.github .texte, .github .api  {
  width: 40%;
  justify-content: center;
  align-items: center;
}


.github img {
  margin: auto;
  width: 300px;
  height: 300px;
}

/*~~~~~~~~~~~~~~~~~~~ project ~~~~~~~~~~~~~~~~~*/

.project {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project .row {
  width: 95%;
  height: 300px;
  margin: 10px 0;
}

.project .pro {
  display: flex;
  flex-direction: row;
}

.project .img {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.project .description, .project .title {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: justify;
background-size: cover;
height: 300px;
width: 80%;
}

.project .description p {

word-wrap: break-word;
}

.project .img {
  background-size: cover;
  display: flex;
  height: 80%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  color: #fff;
  text-transform: uppercase;
  justify-content: space-around;
}

.project .row {
  padding: 50px 0;

}

.project ul {
  padding-left: inherit;
}

/*~~~~~~~~~~~~~~ user ~~~~~~~~~~~~~~~~*/

.container-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.champs {
  display: flex;
  flex-direction: row;
}

.texte-champs {
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  padding-right: 75px;
  margin-bottom: 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.input-champs {
  margin-left: 75px;
}

.input-champs input {
  margin-top: 10px;

}

.input-champs label {
  display: none;
}

.info-user-container .info-part1{
  display: flex;
  flex-direction: row;
}

.info-user-container .info-ligne {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  width: 500px;
}

.info-user-container .profile-pictures-user {
  width: 500px;
  height: 500px;
  background-size: cover;
}

.info-user-container  p {
  font-size: 18px;
}

.info-part2 {
  padding-top: 30px;
  padding-bottom: 50px;
}

#fos_user_registration_form {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-container .input-champs {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-between;
}

.login-container .texte-champs {

  height: 200px;

}

.homepage_text{
  font-size: 20px;
  text-align: center;
}

.homepageTitle{
  text-align: center;
  font-size: 28px;
  padding-top:20%;
}

.presentation, .texte {
  text-align: justify;
}
