{% extends 'OpenContribViewBundle::main.html.twig' %}

{% block container %}
{% image '@OpenContribViewBundle/Resources/public/images/old-oakland-bay-bridge-don-thomas.jpg' %}
  <div class="jumbotron" style="background-image:url({{ asset_url }});padding-bottom:0;margin-bottom:0">
    {% endimage %}
<h1 class="animated fadeInLeft">Bridgin</h1>
<!-- <p class="animated fadeInRight"></p> -->

</div>
<div class="insider" style="box-shadow: 0 0px 7px 3px rgba(0,0,0,0.2);">
    <div class="col-lg-12"style="background-color: #E1E8EB;">
      <div class="col-lg-offset-1 col-lg-10">
          <ul class="homepage_text">
              <br>
<li class="animated fadeInLeft">Vous cherchez à participer au monde du libre ?</li><br>
<li class="animated fadeInRight">Vous pensez que votre projet peut être utile à d'autres ?</li><br>
<li class="animated fadeInLeft">Vous voulez apporter de la visibilité à vos idées ?</li><br>
<div class="trigger" class="spacer s0"></div>
          </ul>
      </div>
    </div>
</div>

    <div class="project">
{{ render(controller('OpenContribProjectsBundle:Projects:indexHome')) }}
<div class="trigger3">

</div>
<div class="trigger2">

</div>
<p class="" style="margin-top:80px;"><a href="{{ path('projects_index') }}" class="btn btn-primary btn-lg" role="button" title="En savoir +">Voir la liste de nos projets</a></p>
</div>

<div class="ligne">

</div>

<div class="github">
 <div class="texte">
      <p>La plateforme proposer des contributions bénévoles, elle n'a pas pour objectif de gérer des transactions
      monétaires, il est donc interdit de réclamer/proposer des indémnisations financières.</p><br><br>
      <u><p><b>Conseils d'utilisation</b> pour les posteurs de projets :</p></u>
    <p>La plateforme utilise l'API qithub, il est important de penser à bloquer votre projet en lecture
        seule afin qu'il n'y ait pas de problème de contribution non désirée.</p>
      <u><p><b>Conseils d'utilisation</b> pour les contributeurs :</p></u>
      <p>Sachez que la plateforme vous incite fortement à travailler uniquement via des merges requests pour garantir
      l'intégrité des projets sur lequels vous voulez contribuer.</p>
  </div>
  <div class="api animate2">
    {% image '@OpenContribViewBundle/Resources/public/images/git.png' %}
      <img src="{{ asset_url }}" alt="">
        {% endimage %}
  </div>
</div>



<div class="contact">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>

    <script>

        var introBG = document.querySelector('.jumbotron');

        window.addEventListener('scroll', doParallax);
        function doParallax() {
            var positionY = (window.pageYOffset) / 3;
            introBG.style.backgroundPosition = "0 -" + positionY + "px";
        }

    </script>
{% endblock %}
