{% block navbar %}

<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand animated fadeIn" href="{{ path('open_contrib_view_homepage') }}" style="color: #990000;">Bridgin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav animated fadeIn">

        <li><a href="{{ path('projects_index') }}">Liste des projets</a></li>
        <li><a href="{{ path('projects_new') }}">Nouveau projet</a></li>

      </ul>
      <div class="connect">
      <ul class="nav navbar-nav navbar-right animated fadeIn" style="display:flex;margin-left:100px;">
        {{ render(controller('OpenContribUserBundle:Connect:index')) }}
      </ul>
    </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endblock %}
